<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

	<!-- ConnectionString -->

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=(localdb)\mssqllocaldb;Database=CRM2db;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  
	  <bindings>
		  <webHttpBinding>
			  <binding name="secureHttpBinding">
				  <security mode="TransportCredentialOnly">
					  <transport clientCredentialType="None"/>
				  </security>
			  </binding>
		  </webHttpBinding>
	  </bindings>

	  <services>
		  <service name="WcfService2.Services.CustomerService" behaviorConfiguration="ServiceBehavior">
			  <endpoint address="" binding="webHttpBinding" contract="WcfService2.ICustomerService" behaviorConfiguration="restBehavior"/>
			  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			  <endpoint address="soap" binding="basicHttpBinding" contract="WcfService2.ICustomerService"/>
		  </service>
	  </services>

	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="ServiceBehavior">
				  <serviceMetadata httpGetEnabled="true"/>
				  <serviceDebug includeExceptionDetailInFaults="true"/>
			  </behavior>
		  </serviceBehaviors>
		  <endpointBehaviors>
			  <behavior name="restBehavior">
				  <webHttp/>
			  </behavior>
		  </endpointBehaviors>
	  </behaviors>
	  
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
